<div class="container">
  <div class="container">
    <div #characterImg></div>
    <div class="container" style="flex-direction: column" #textInfo>
      <mat-form-field MatForm>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="characterInfoFormGroup.controls.name" />
      </mat-form-field>
      <div class="container">
        <mat-form-field MatForm>
          <mat-label>Ability</mat-label>
          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.ability"
          />
        </mat-form-field>
        <mat-form-field MatForm>
          <mat-label>Weakness</mat-label>
          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.weakness"
          />
        </mat-form-field>
      </div>
      <mat-form-field MatForm>
        <mat-label>Misc.</mat-label>
        <textarea
          matInput
          [formControl]="characterInfoFormGroup.controls.description"
        ></textarea>
      </mat-form-field>

      <div class="container">
        @if (characterInfoFormGroup.value.age_detailed) {
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input
              matInput
              [formControl]="characterInfoFormGroup.controls.age_detailed"
            />
          </mat-form-field>
        } @else {
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input
              matInput
              [formControl]="characterInfoFormGroup.controls.age"
            />
          </mat-form-field>
        }
        <mat-form-field>
          <mat-label>Height (in.)</mat-label>
          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.height"
          />
        </mat-form-field>
      </div>

      <div class="container">
        <mat-form-field>
          <mat-label>Rank</mat-label>
          <!-- <mat-select></mat-select>


          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.rank"
          /> -->
          <mat-select [formControl]="characterInfoFormGroup.controls.rank">
            @for (stat of rankDropdownItems; track stat) {
              <mat-option [value]="stat.value">{{ stat.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Service Years</mat-label>
          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.serviceYrs"
          />
        </mat-form-field>
        <mat-slide-toggle
          [formControl]="characterInfoFormGroup.controls.isActiveService"
          >Active Service</mat-slide-toggle
        >
      </div>

      <div class="container">
        <mat-form-field>
          <mat-label>Generation</mat-label>
          <input
            matInput
            [formControl]="characterInfoFormGroup.controls.generation"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Adjust Img Scale Preview (%)</mat-label>
          <input
            matInput
            type="number"
            [formControl]="characterInfoFormGroup.controls.adjustedImgScalePct"
            (change)="onImgScaleChange()"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div>
    <mat-list #stats>
      @for (stat of statsList; track stat; let last = $last) {
        <mat-list-item style="overflow: visible">
          <span
            style="
              height: 100px;
              display: flex;
              align-items: center;
              gap: 10px;
              padding-right: 25px;
            "
          >
            <div class="stat-text">
              {{ stat.label_short }}
            </div>
            <div class="stat-text">
              {{ statAsModifier(stat.value) }}
            </div>
            @for (
              statTick of _statToIterable(stat);
              track $index;
              let idx = $index
            ) {
              <div>
                <button mat-mini-fab style="box-shadow: unset">
                  <!-- {{ idx }}|{{ statTick }} -->
                  <!-- boon -->
                  @if (idx === statTick && character) {
                    @if (character.ability?.statAffecting === stat.value) {
                      <mat-icon>add_box</mat-icon>
                    } @else {
                      <mat-icon></mat-icon>
                    }
                    <!-- bane -->
                  } @else if (idx + 1 === statTick && character) {
                    @if (character.weakness?.statAffecting === stat.value) {
                      <mat-icon>disabled_by_default</mat-icon>
                    } @else {
                      <mat-icon>check_box_outline_blank</mat-icon>
                    }
                  } @else if (character) {
                    @if (idx + 1 <= statTick) {
                      <mat-icon>check_box_outline_blank</mat-icon>
                    } @else {
                      <mat-icon></mat-icon>
                    }
                  } @else {
                    <mat-list-item disabled
                      ><mat-icon>check_box_outline_blank</mat-icon>
                    </mat-list-item>
                  }
                </button>
              </div>
            }
          </span>
        </mat-list-item>

        @if (!last) {
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
  </div>
</div>
