<mat-button-toggle-group [formControl]="sortTypeCtrl">
  <mat-button-toggle [value]="SortTypeEnum.RANK">Rank</mat-button-toggle>
  <mat-button-toggle [value]="SortTypeEnum.SENIORITY"
    >Seniority</mat-button-toggle
  >
  <mat-button-toggle [value]="SortTypeEnum.HEIGHT">Height</mat-button-toggle>
  <mat-button-toggle [value]="SortTypeEnum.STAT">Stat</mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field>
  <mat-label>Select Stat</mat-label>
  <mat-select [disabled]="!isSortingByStat">
    @for (stat of statsNames; track stat) {
    <mat-option [value]="stat.value">{{ stat.label }}</mat-option>
    }
  </mat-select>
</mat-form-field>
