<div style="display: flex; gap: 20px; align-items: center">
  <mat-slide-toggle
    checked
    [formControl]="hideNACharsCtrl"
    (change)="onSortChange()"
    >Hide N/A</mat-slide-toggle
  >

  <div>
    <mat-button-toggle-group
      [formControl]="sortTypeCtrl"
      (change)="onSortChange()"
    >
      <mat-button-toggle [value]="SortTypeEnum.NAME">Name</mat-button-toggle>
      <mat-button-toggle [value]="SortTypeEnum.AGE">Age</mat-button-toggle>
      <mat-button-toggle [value]="SortTypeEnum.RANK">Rank</mat-button-toggle>
      <mat-button-toggle [value]="SortTypeEnum.SENIORITY"
        >Seniority</mat-button-toggle
      >
      <mat-button-toggle [value]="SortTypeEnum.HEIGHT"
        >Height</mat-button-toggle
      >
      <mat-button-toggle [value]="SortTypeEnum.STAT">Stat</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field>
    <!-- <mat-label>Select Stat</mat-label> -->
    <mat-select
      [formControl]="sortingStatCtrl"
      (selectionChange)="onSortStatChange()"
    >
      @for (stat of statsNames; track stat) {
        <mat-option [value]="stat.value">{{ stat.label }}</mat-option>
      }
    </mat-select>
    <mat-hint>Specific Stat Sorting</mat-hint>
  </mat-form-field>
</div>
