$lineup-width: 200vw;

.lineup {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  align-items: end;
  // width: $lineup-width;
  width: 400vw;
}

.img-container {
  // min-width: 100px;
  // min-height: 100px;
  // width: 100%;
  // height: 100%;
  display:flex;
  // flex-flow: column;
  cursor: pointer;
  transition: all .3s ease-out;
  overflow: visible;
}

.line {
  position: relative;
  z-index: 1;
  height: 2px;
  // width: $lineup-width * 2;
  width: 100px;
  // margin-left: -300vw;
  opacity:40%;
  transition: all .3s ease-out;
}

.line-container {
  flex-basis: 0;
  flex-shrink: 0;
  overflow: visible;
  width: 0;
}

.not-hovered {
  opacity: 20%;
  transition: all .3s ease-out;
}

.image {
  position:relative;
  z-index: 2;
  max-width:100%;
  // left: -100%;
}

.focus-line {
  opacity: 100%;
  transition: all .3s ease-out;
  // background-color: red !important;
}