$lineup-width: 500vw;
$lineup-padding: 40px;
.lineup {
  display: flex;
  align-items: end;
  width: max-content;
  height: 400px;
  padding: $lineup-padding;
}

.img-container {
  // min-width: 100px;
  // min-height: 100px;
  // width: 100%;
  // height: 100%;
  display: flex;
  // flex-flow: column;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  overflow: visible;
}

.line {
  position: relative;
  z-index: 1;
}

.second-line {
  height: 5px;
  position: absolute;
  left: 0;
  height: 2px;
  opacity: 40%;
  transition: opacity 0.3s ease-out;
}

.line-container {
  flex-basis: 0;
  flex-shrink: 0;
  overflow: visible;
  width: 0;
}

.not-hovered {
  opacity: 20%;
  transition: opacity 0.3s ease-out;
}

.image {
  position: relative;
  z-index: 2;
  max-width: 100%;
  // left: -100%;
}

.focus-line {
  opacity: 100%;
  transition: opacity 0.3s ease-out;
  // background-color: red !important;
}
