<div class="lineup">
  @for (character of characterList; track character; let index = $index) {
    <div
      #imgContainer
      class="img-container"
      (mouseenter)="onImgHover(index)"
      (mouseleave)="onImgLeave()"
    >
      <!-- [style.bottom]="character.height ? character.height + 'px' : undefined" -->
      <div #line class="line"></div>
      <img
        #img
        class="image"
        [alt]="character.name"
        [src]="'img/' + character.img"
      />

      <!-- <div>
        {{ character.name }}
      </div> -->
    </div>
  }
</div>
