<div #lineup class="lineup">
  @for (
    character of displayedCharacterList;
    track character;
    let index = $index
  ) {
    <div
      #imgContainer
      [tabindex]="index"
      class="img-container"
      [style.height]="_adjustedRatioHeight(character)"
      (mouseenter)="onImgHover(index)"
      (mouseleave)="onImgLeave()"
      (keydown.enter)="onCharacterClick(character)"
      (click)="onCharacterClick(character)"
    >
      <!-- [style.bottom]="character.height ? character.height + 'px' : undefined" -->
      <!-- <div style=""> -->
      <div #lineContainer class="line-container">
        <div
          class="line"
          [style.top]="character.correctedHeightPctFromTop + '%'"
          [style.margin-left]="-1 * imgContainer.offsetLeft + 'px'"
        >
          <div
            #line
            class="second-line"
            [style.background-color]="_colorMap[character.name]"
            [style.width]="lineup.offsetWidth + 'px'"
          ></div>
        </div>
      </div>
      <!-- </div> -->
      <img
        #img
        class="image"
        [alt]="character.name"
        [src]="'img/' + character.img"
      />

      <!-- <div>
        {{ character.name }}
      </div> -->
    </div>
  }
</div>
